@page
@model Apply_Jobs.Pages.Advertisements.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Advertisement</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Advertisement.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Advertisement.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Advertisement.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Advertisement.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Advertisement.Employer)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Advertisement.Employer.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Advertisement.SalaryInformation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Advertisement.SalaryInformation)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Advertisement.JobType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Advertisement.JobType)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-outline-success" asp-page="./Edit" asp-route-id="@Model.Advertisement.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
