@page
@model Apply_Jobs.Pages.Employers.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Employer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Employer.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Employer.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Employer.ContactNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Employer.ContactNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Employer.WebSite)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Employer.WebSite)
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="Employer.Id" />
        <input type="submit" value="Delete" class="btn btn-outline-success" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
